body {
    margin: 10px auto;
    min-width: 250px;
    max-width: 50%;
    background-color: #feeae2
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #e6e6e1;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: e6e6e1;
}

ul li:hover {
    background: white;
}

ul li.checked {
    background: teal;
    color: white;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #a08877;
    color: white;
}

.header {
    background-color: #c2a7a1;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #a08877;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #a08877;
}

#clear-list {
    width: 30%;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    font-family: "fantasy";
    margin: 40px 35%;
    background-color: #afbfb1;
    color: white;
}

#clear-list:hover {
    background-color: #323131;
    color: white;
}

.footer {
    font-weight: bold;
    color: black;
    text-align: center;
}